body{
  background: #c4d8ec;
}

.row{
  margin-top: 5%;
}

#datoAuto{
  color: white;
}

h3 {
  background-color: #333;
  padding: 12px;
  border-top-right-radius: 20px;
  font-weight: bolder;
  letter-spacing: .1em;
}

form{
  text-align: center;
}

input{
  margin-top: 3px;
  margin-right: 10px;
}

select{
  margin-top: 3px;
}

#tdbotones{
  padding: 0;
  width: 50px;
}

#botoncrud{
  border: none;
  background: none;
  padding: 0;
  height: 40px;
  width: 40px;
}

#imgcrud{
  height: 90%;
  width: 90%;
}

#inputMarca{
  border-radius: 12px;
}

#botonAgregar{
  margin-top: 5px;
}

.historialTD{
  padding-top: 8px !important;
}

.aHistorial{
  color: rgb(78, 78, 78);
}

.aHistorial:hover{
  color: #0b5ed7;
}

.divSelectYCrear{
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.botonCrearIntuitivo{
  background: none; 
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5px;
}

.botonCrearIntuitivo:hover{
  background-color: #1abc86;
}