body{
  background: #c4d8ec;
}

.row{
  margin-top: 5%;
}

#datoAuto{
  color: white;
}

h3 {
  background-color: #333;
  padding: 12px;
  border-top-right-radius: 20px;
  font-weight: bolder;
  letter-spacing: .1em;
}

form{
  text-align: center;
}

input{
  margin-top: 3px;
  margin-right: 10px;
}

select{
  margin-top: 3px;
}

#tdbotones{
  padding: 0;
  width: 50px;
}

#botoncrud{
  border: none;
  background: none;
  padding: 0;
  height: 40px;
  width: 40px;
}

#imgcrud{
  height: 90%;
  width: 90%;
}

#inputMarca{
  border-radius: 12px;
}

#botonAgregar{
  margin-top: 5px;
}