<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Mecánico</title>
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--CSS-->
    <link rel="stylesheet" href="../css/gen.css">
    <link rel="stylesheet" href="../css/crud.css">

    <!--ICONO-->
    <link rel="shortcut icon" href="../../img/icono.png" type="image/x-icon">

</head>

<body>

    <nav class="navbar navbar-expand-lg" id="barraNav">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img src="img/icono.png" alt="Logo" width="25" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Vehículos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/vehiculos}">Vehículos</a></li>
                            <li><a class="dropdown-item" th:href="@{/marca}">Marca</a></li>
                            <li><a class="dropdown-item" th:href="@{/modelo}">Modelo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Servicios
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/serviciosTaller}">Servicios</a></li>
                            <li><a class="dropdown-item" th:href="@{/ot}">Orden de Trabajo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Persona
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/clientes}">Clientes</a></li>
                            <li><a class="dropdown-item" th:href="@{/tecnicos}">Técnicos</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- <table>
        <tbody>
            <h1>objeto ordenes</h1>
            <tr th:each="ot : ${listaOT}">
                <td th:text="${ot}" style="color: black;"></td>
            </tr>
        </tbody>
    </table> -->

    <h1>ORDEN DE TRABAJO</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <a id="botonVolverBucar" th:href="@{/ordenTrabajo}"><img id="imgVolver" src="img/return.png"></a>
            </div>
            <div class="col-md-4">
                <h3>NUEVA ORDEN</h3>
                <form id="addUserForm" th:action="@{/registrarOt}" th:object="${Ot}" method="POST">
                    <!--<div class="form-group">
                        <input name="patente" class="form-control" type="text" id="patente" placeholder="Patente" required oninput="this.value = this.value.toUpperCase()">
                        <input name="kilometros" class="form-control" type="text" id="km" placeholder="Kilometros" required>
                    </div>-->

                    <select required name="vehiculoPertenece" id="marcaAuto" class="form-select" form="addUserForm"
                        disabled>
                        <option selected hidden>Vehiculo</option>
                        <option th:each="vehiculo : ${lista_vehiculos}" th:text="${vehiculo.patente}"
                            th:value="${vehiculo.id_vehiculo}">
                    </select>

                    <select required name="serviciosRealizar" id="modeloAuto" class="form-select" form="addUserForm"
                        disabled>
                        <option selected hidden>Servicios</option>
                        <option th:each="servicio : ${lista_servicios}" th:text="${servicio.nombre}"
                            th:value="${servicio.id_servicio}">
                    </select>
                    <input type="submit" value="Crear Orden" class="btn btn-primary form-control" disabled>
                    <!--<select required name="cliente" id="clienteAuto" class="form-select" form="addUserForm">
                        <option selected hidden>Cliente</option>
                        <option th:each="cliente : ${clientes}" th:value="${cliente.id_cliente}"
                            th:text="${cliente.nombre}+' '+${cliente.apellido}"></option>
                    </select>
                    
                    <input id="botonAgregar" onclick="agregarVehiculo(event)" type="submit" value="Agregar vehiculo" class="btn btn-primary form-control">-->
                </form>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <h3>ORDENES REALIZADAS</h3>
            <form class="d-flex" role="search" id="formBuscar" th:action="@{/buscarOrden}" method="POST" style="display: flex;align-items: center;justify-content: center;">
                <input name="fechaOrdenBuscar" id="inputBuscar" class="form-control me-2" type="date" style="width: 250px;">
                <button id="botonBuscar" class="btn btn-outline-success" type="submit"><img src="../img/lupa.png" alt="" width="25"></button>
            </form>
            <p th:if="${mensaje}" class="alert alert-danger" th:text="${mensaje}"></p>
            <table id="userTable" class="table table-striped" th:if="${mensaje} == null">
                <thead>
                    <tr>
                        <th>N° Orden</th>
                        <th>Vehiculo</th>
                        <th>Cliente</th>
                        <th>Servicios</th>
                        <th>Técnicos</th>
                        <th>Fecha de Orden</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="cuerpoTabla">
                    <div th:if="${listaOT} == null">No se encontraron coincidencias</div>
                    <tr th:each="ot : ${listaOT}">
                        <td class="ORDENData" th:text="${ot.nro_orden}"></td>
                        <td class="ORDENData"
                            th:text="${ot.vehiculoPertenece.marca.nombre} +' '+ ${ot.vehiculoPertenece.modelo.nombre} + ' - ' + ${ot.vehiculoPertenece.patente}">
                        </td>
                        <td class="ORDENData"
                            th:text="${ot.vehiculoPertenece.cliente.nombre}+' '+${ot.vehiculoPertenece.cliente.apellido}">
                        </td>
                        <td class="HISTORIALData">
                            <ul style="padding: 0;">
                                <li th:each="servicio : ${ot.serviciosRealizar}" th:text="${servicio.nombre}"></li>
                            </ul>
                        </td>          
                        <td class="HISTORIALData">
                            <ul style="padding: 0;">
                                <li th:each="tecnico : ${ot.tecnicosOrden}" th:text="${tecnico.nombre} + ' ' +${tecnico.apellido} "></li>
                            </ul>
                        </td>              
                        <td class="ORDENData" th:text="${#strings.substring(ot.fechaHoraOrden, 8, 10) + '/' + #strings.substring(ot.fechaHoraOrden, 5, 7) + '/' + #strings.substring(ot.fechaHoraOrden, 0, 4) + ' - ' + #strings.substring(ot.fechaHoraOrden, 11)}"></td>
                        <td id="tdbotones" style="padding-top:5px;"><a id="botoncrud" th:href="@{/detalleOrden/}+${ot.nro_orden}" class="btn btn-warning" title="Detalle de Orden"><img id="imgcrud" src="img/detalle.png" alt=""></a></td>
                        <td id="tdbotones" style="padding-top:5px;"><a id="botoncrud" th:href="@{/editarOrden/}+${ot.nro_orden}" class="btn btn-warning" title="Editar Orden"><img id="imgcrud" src="img/edit.png" alt=""></a></td>
                        <td id="tdbotones" style="padding-top:5px;"><a onclick="return eliminarVehiculo()" type="submit" id="botoncrud" th:href="@{/eliminarOrden/}+${ot.nro_orden}" class="btn btn-danger" title="Eliminar Orden"><img id="imgcrud" src="img/delete.png" alt=""></a></td>

                    </tr>
                </tbody>
            </table>

            <!-- Datos que se traen del controlador -->
            <!-- <table>
                <tbody>
                    <tr th:each="ot : ${listaOT}">
                        <td th:text="${ot}" style="color: black;"></td>
                    </tr>
                </tbody>
            </table> -->
        </div>
    </div>

    <script src="js/vehiculos.js"></script>
    <script src="js/eliminar.js"></script>

</body>

</html>