<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Mecánico</title>
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <!--CSS-->
    <link rel="stylesheet" href="../css/gen.css">
    <link rel="stylesheet" href="../css/crud.css">
    <link rel="stylesheet" href="../css/modelo.css">


    <!--ICONO-->
    <link rel="shortcut icon" href="../../img/icono.png" type="image/x-icon">

</head>

<body>

    <nav class="navbar navbar-expand" id="barraNav">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img src="img/icono.png" alt="Logo" width="25" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Vehículos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/vehiculos}">Vehículos</a></li>
                            <li><a class="dropdown-item" th:href="@{/marca}">Marca</a></li>
                            <li><a class="dropdown-item" th:href="@{/modelo}">Modelo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Servicios
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/serviciosTaller}">Servicios</a></li>
                            <li><a class="dropdown-item" th:href="@{/ordenTrabajo}">Orden de Trabajo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Persona
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/clientes}">Clientes</a></li>
                            <li><a class="dropdown-item" th:href="@{/tecnicos}">Técnicos</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>MODELO</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>NUEVO MODELO</h3>
                <form id="addUserForm" th:action="@{/saveModelo}" th:object="${modelo}" method="POST">
                    <div class="form-group">
                    </div>
                    <div class="form-group">
                        <input disabled class="form-control" type="text" id="nombre" name="nombre" placeholder="Nombre"
                            required>
                    </div>
                    <select disabled name="estado" id="inputState" class="form-select" form="addUserForm">
                        <option selected hidden>Estado</option>
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                    <select disabled name="marca" id="inputState" class="form-select" form="addUserForm">
                        <option selected hidden>Marca</option>
                        <option th:each="marca : ${marcas}" th:value="${marca.id_marca}" th:text="${marca.nombre}">
                        </option>
                    </select>
                    <button disabled class="btn btn-primary form-control" type="submit" id="submitBtn">Agregar</button>
                </form>
            </div>
            <div class="col-md-8">
                <h3>MODELOS REGISTRADOS</h3>
                <form class="d-flex" th:action="@{/buscarModelo}" method="post">
                    <!--<input id="inputBuscar" class="form-control me-2" type="text" name="marca" placeholder="Buscar Marca" aria-label="Search">-->
                    <input id="inputBuscar" class="form-control me-2" type="text" name="nombreModelo"
                        placeholder="Buscar nombre modelo" aria-label="Search"
                        oninput="this.value = this.value.toUpperCase()">
                    <button id="botonBuscar" class="btn btn-outline-success" type="submit"><img src="../img/lupa.png"
                            alt="" width="25"></button>
                </form>
                <p th:if="${mensaje}" class="alert alert-danger" th:text="${mensaje}"></p>
                <table id="userTable" class="table table-striped" th:if="${mensaje} == null">
                    <thead id="encabezado">
                        <tr>
                            <th>ID</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Estado</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Itera a través de los modelos -->
                        <tr th:each="modelo : ${modelos}">
                            <td class="modeloData" th:text="${modelo.id_modelo}"></td>
                            <td class="modeloData" th:text="${modelo.marca.nombre}"></td>
                            <td class="modeloData" th:text="${modelo.nombre}"></td>
                            <td class="modeloData" th:text="${modelo.estado}"></td>
                            <td id="tdbotones"><a id="botoncrud" th:href="@{/editarModelo/}+${modelo.id_modelo}"
                                    class="btn btn-warning"><img id="imgcrud" src="img/edit.png" alt=""></a></td>
                            <td id="tdbotones"><a type="submit" id="botoncrud"
                                    th:href="@{/eliminarModelo/}+${modelo.id_modelo}"
                                    onclick="return confirmarEliminar()" class="btn btn-danger"><img id="imgcrud"
                                        src="img/delete.png" alt=""></a></td>
                        </tr>
                    </tbody>
                </table>
                <a id="botonVolverBucar" th:href="@{/modelo}"><img src="img/return.png" id="imgVolver"></a>
            </div>
        </div>
    </div>
    <script src="js/marca.js"></script>
    <script src="js/eliminar.js"></script>

</body>

</html>