<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Mecánico</title>
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!--CSS-->
    <link rel="stylesheet" href="../css/gen.css">
    <link rel="stylesheet" href="../css/crud.css">

    <!--ICONO-->
    <link rel="shortcut icon" href="../../img/icono.png" type="image/x-icon">

</head>
<body>

    <nav class="navbar navbar-expand-lg" id="barraNav">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img src="../../img/icono.png" alt="Logo" width="25" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/vehiculos}">Vehículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/marca}">Marca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/modelo}">Modelo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/clientes}">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/tecnicos}">Técnicos</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>CLIENTES</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>NUEVO CLIENTES</h3>
                <form id="addUserForm" th:action="@{/saveCliente}" th:object="${cliente}" method="POST">
                    <div class="form-group">
                        <input name="nombre" class="form-control" type="text" id="nombreCliente" placeholder="Nombre" oninput="this.value = this.value.toUpperCase()" required>
                    </div>
                    <div class="form-group">
                        <input name="apellido" class="form-control" type="text" id="apellidoCliente" placeholder="Apellido" oninput="this.value = this.value.toUpperCase()" required>
                    </div>
                    <div class="form-group">
                        <input name="dni" class="form-control" type="text" id="dniCliente" placeholder="DNI" maxlength="8" required>
                    </div>
                    <div class="form-group">
                        <input name="telefono" class="form-control" type="text" id="telefonoCliente" placeholder="Telefono" required>
                    </div>
                    <div class="form-group">
                        <input name="localidad" class="form-control" type="text" id="localidadCliente" placeholder="Localidad" oninput="this.value = this.value.toUpperCase()" required>
                    </div>
                    <input id="botonAgregar" onclick="agregarCliente(event)" type="submit" value="Agregar Cliente" class="btn btn-primary form-control">
                </form>
            </div>
            <div class="col-md-8">
                <h3>CLIENTES REGISTRADOS</h3>
                <form th:action="@{/buscarCliente}" method="POST" class="d-flex" id="formBuscar">
                    <input name="datoCliente" id="inputBuscar" class="form-control me-2" type="search" placeholder="Buscar DNI Cliente" aria-label="Search" maxlength="8">
                    <button id="botonBuscar" class="btn btn-outline-success" type="submit"><img src="../img/lupa.png" alt="" width="25" onclick="validarBuscar(event)"></button>
                </form>
                <table id="userTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>DNI</th>
                            <th>Telefono</th>
                            <th>Localidad</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cliente : ${clientes}">
                            <td class="CLIENTEData" th:text="${cliente.id_cliente}"></td>
                            <td class="CLIENTEData" th:text="${cliente.nombre}"></td>
                            <td class="CLIENTEData" th:text="${cliente.apellido}"></td> 
                            <td class="CLIENTEData" th:text="${cliente.dni}"></td>
                            <td class="CLIENTEData" th:text="${cliente.telefono}"></td> 
                            <td class="CLIENTEData" th:text="${cliente.localidad}"></td>  
                            <td id="tdbotones"><a id="botoncrud" th:href="@{/editarCliente/}+${cliente.id_cliente}" class="btn btn-warning"><img id="imgcrud" src="img/edit.png" alt=""></a></td>
                            <td id="tdbotones"><a onclick="return confirmarEliminar()" type="submit" id="botoncrud" th:href="@{/eliminarCliente/}+${cliente.id_cliente}" class="btn btn-danger"><img id="imgcrud" src="img/delete.png" alt=""></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="js/clientes.js"></script>
    <script src="js/eliminar.js"></script>
</body>
</html>