<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Mecánico</title>
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
        </script>
    
    <!-- Sweet Alert 2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    
        <!-- CSS -->
    <link rel="stylesheet" href="../css/gen.css">
    <link rel="stylesheet" href="../css/crud.css">
    
    <!-- ICONO -->
    <link rel="shortcut icon" href="../../img/icono.png" type="image/x-icon">
    
    <!-- PARA DESCARGAR ORDEN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
        integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg" id="barraNav">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img src="../img/icono.png" alt="Logo" width="25" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Vehículos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/vehiculos}">Vehículos</a></li>
                            <li><a class="dropdown-item" th:href="@{/marca}">Marca</a></li>
                            <li><a class="dropdown-item" th:href="@{/modelo}">Modelo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Servicios
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/serviciosTaller}">Servicios</a></li>
                            <li><a class="dropdown-item" th:href="@{/ordenTrabajo}">Orden de Trabajo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Persona
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/clientes}">Clientes</a></li>
                            <li><a class="dropdown-item" th:href="@{/tecnicos}">Técnicos</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" id="containerOrden">

        <div class="row">
            <!-- Primera columna (izquierda) -->
            <h3>DETALLE ORDEN <span th:text="${nro_orden}"></span></h3>
            <div class="col-md-6">

                <h4>VEHICULO</h4>
                <p class="form-control"
                    th:text="${vehiculo.marca.nombre}+' '+${vehiculo.modelo.nombre}+' - '+${vehiculo.patente}"> </p>

                <h4>PROPIETARIO</h4>
                <p class="form-control"
                    th:text="${ordenTrabajo.vehiculoPertenece.cliente.nombre}+' '+${ordenTrabajo.vehiculoPertenece.cliente.apellido}">
                </p>

                <h4>FECHA DE ORDEN</h4>
                <p class="form-control"
                    th:text="${#strings.substring(ordenTrabajo.fechaHoraOrden, 8, 10) + '/' + #strings.substring(ordenTrabajo.fechaHoraOrden, 5, 7) + '/' + #strings.substring(ordenTrabajo.fechaHoraOrden, 0, 4) + ' - ' + #strings.substring(ordenTrabajo.fechaHoraOrden, 11)} + 'hs'">
                </p>
            </div>

            <!-- Segunda columna (derecha) -->

            <div class="col-md-6" style="height: 219.6px; display: flex; flex-direction: column;">
                <h4>TÉCNICOS</h4>
                <div class="form-check select-container" style="flex: 1;">
                    <ul style="padding-left: 20px;">
                        <li th:each="ts : ${tecnicosSeleccionados}" th:text="${ts.nombre} + ' ' +${ts.apellido} "></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-12">
                <h4>SERVICIOS</h4>
                <table class="table table-bordered text-center" id="miTabla" style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 130px;">Nombre Servicio</th>
                            <th style="width: 110px;">Precio/hora</th>
                            <th style="width: auto;">Horas</th>
                            <th style="width: auto;">Minutos</th>
                            <th style="width: 120px;">Precio</th>
                            <th style="width: 105px;">%Descuento</th>
                            <th style="width: 110px;">Descuento</th>
                            <th style="width: 105px;">%Impuestos</th>
                            <th style="width: 140px;">Monto Impuestos</th>
                            <th class="fixed-column" style="width: 120px;">Total Servicio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="servicio : ${serviciosSeleccionados}">
                            <td th:text="${servicio.nombre}"></td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    <input type="number" step="0.01" name="precioHora" required
                                        th:value="${servicio.precioHora}" class="form-control" readonly>
                                </div>
                            </td>

                            <td>
                                <input type="number" name="horas" required th:value="${servicio.horasDuracionPromedio}"
                                    class="form-control">
                            </td>
                            <td>
                                <input type="number" name="minutos" required max="59"
                                    th:value="${servicio.minutosDuracionPromedio}" class="form-control"
                                    oninput="limitarMinutosInput(this)">
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    <input type="number" step="1" name="precio" required class="form-control" readonly>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="number" step="0.1" name="%descuento" required
                                        th:value="${servicio.porcentajeDescuentos}" class="form-control" min="0"
                                        max="100" oninput="limitarPorcentajeInput(this)" readonly
                                        style="text-align: right;">
                                    <span class="input-group-text">%</span>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    <input type="number" step="1" name="montodescuento" required class="form-control"
                                        readonly>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="number" step="0.1" name="%impuesto" required
                                        th:value="${servicio.porcentajeImpuestos}" class="form-control" min="0"
                                        max="100" oninput="limitarPorcentajeInput(this)" readonly
                                        style="text-align: right;">
                                    <span class="input-group-text">%</span>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    <input type="number" step="1" name="montoImpuestos" required class="form-control"
                                        readonly>
                                </div>
                            </td>
                            <td class="fixed-column">
                                <div class="input-group">
                                    <span class="input-group-text">$</span>
                                    <input type="number" step="1" name="totalServicio" required class="form-control"
                                        readonly>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!-- Total Descuentos fuera de la tabla -->
        <div class="estadisticasMontos" id="detalleDeOrden">
            <h3>RESUMEN ORDEN NRO. <span th:text="${nro_orden}"></span></h3>
            <div class="row  text-center">
                <div class="col-md-2 offset-md-6">
                    <h4>Total Descuentos</h4>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" step="1" name="totalDescuentos" required class="form-control" readonly>
                    </div>
                </div>
                <!-- Total Impuestos fuera de la tabla -->
                <div class="col-md-2">
                    <h4>Total Impuestos</h4>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" step="1" name="totalImpuestos" required class="form-control" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <h4>Subtotal</h4>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" step="1" name="subtotal" value="0" required class="form-control" readonly>
                    </div>
                </div>
            </div>

            <div class="row text-center justify-content-between">
                <div class="col-md-4">
                    <h4>Tiempo Total Trabajado</h4>
                    <div class="input-group">
                        <input type="number" step="1" name="horasTrabajadas" class="form-control" placeholder="Horas"
                            readonly>
                        <span class="input-group-text" style="margin-right: 40px;">h</span>
                        <input type="number" step="1" name="minutosTrabajados" class="form-control"
                            placeholder="Minutos" readonly>
                        <span class="input-group-text">m</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <h4>Agregar Impuesto Final</h4>
                    <div class="input-group">
                        <input type="number" step="0.1" name="%impuestoAgregado" class="form-control"
                            placeholder="Porcentaje" oninput="limitarPorcentajeInput(this)">
                        <span class="input-group-text" style="margin-right: 40px;">%</span>
                        <span class="input-group-text">$</span>
                        <input type="number" step="1" name="montoImpuestoAgregado" class="form-control"
                            placeholder="Monto en Pesos">
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 offset-md-8">
                    <h4>Agregar Descuento Final</h4>
                    <div class="input-group">
                        <input type="number" step="0.1" name="%descuentoAgregado" class="form-control"
                            placeholder="Porcentaje" oninput="limitarPorcentajeInput(this)">
                        <span class="input-group-text" style="margin-right: 40px;">%</span>
                        <span class="input-group-text">$</span>
                        <input type="number" step="1" name="montoDescuentoAgregado" class="form-control"
                            placeholder="Monto en Pesos">
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 offset-md-8">
                    <h4>Agregar Aumento Final</h4>
                    <div class="input-group">
                        <input type="number" step="0.1" name="%aumentoAgregado" class="form-control"
                            placeholder="Porcentaje">
                        <span class="input-group-text" style="margin-right: 40px;">%</span>
                        <span class="input-group-text">$</span>
                        <input type="number" step="1" name="montoAumentoAgregado" class="form-control"
                            placeholder="Monto en Pesos">
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 offset-md-8">
                    <h4>TOTAL</h4>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" step="1" name="total" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Botón para volver a Ordenes de Trabajo -->
    <div class="row text-center" style="padding-bottom: 30px;padding-top: 15px;">
        <div class="col-md-3">
            <a class="btn btn-warning" th:href="@{/ordenTrabajo}">Volver</a>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" id="guardarCambios">Guardar Cambios</button>
        </div>
        <div class="col-md-3">
            <button id="botonDescargar" type="button" class="btn btn-success" th:value="${nro_orden}"
                onclick="descargarOrden()">Descargar Orden
            </button>
        </div>
    </div>


    <script src="/js/clientes.js"></script>
    <script src="/js/eliminar.js"></script>
    <script src="/js/detalleOrden.js"></script>
</body>

</html>