
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Mecánico</title>
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <!--CSS-->
    <link rel="stylesheet" href="../css/gen.css">
    <link rel="stylesheet" href="../css/crud.css">

    <!--ICONO-->
    <link rel="shortcut icon" href="../../img/icono.png" type="image/x-icon">

</head>
<body>
        <form id="addUserForm" th:action="@{/save}" th:object="${marca}" method="POST">
            <input type="hidden" name="id_marca" th:field="*{id_marca}">  <!--ESTA LINEA ES PARA QUE EVITE DUPLICAR LOS DATOS Y SE MODIFIQUEN EN EL MISMO REGISTRO -->
                <div>
                    <label for="nombre">Nombre: </label>
                    <input type="text" name="nombre"/>
                </div>
                <div>
                    <label for="nombre">estado </label>
                    <input type="text" name="estado" />
                </div>
            <input type="submit" value="Agregar marca" class="btn btn-success">
        </form>
    </body>
</html>