<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Mecánico</title>
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!--CSS-->
    <link rel="stylesheet" href="../css/gen.css">
    <link rel="stylesheet" href="../css/crud.css">
    <link rel="stylesheet" href="../css/editar.css">

    <!--ICONO-->
    <link rel="shortcut icon" href="../../img/icono.png" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-expand-lg" id="barraNav">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img src="../../img/icono.png" alt="Logo" width="25" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/vehiculos}">Vehículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/marca}">Marca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/modelo}">Modelo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/clientes}">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/tecnicos}">Técnicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/serviciosTaller}">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/ordenTrabajo}">Orden Trabajo</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h3>EDITAR ORDEN</h3>
                <form id="addUserForm" th:action="@{/registrarOrdenTrabajo}" th:object="${OrdenTrabajo}" method="POST">
                    <input type="hidden" name="nro_orden" th:value="${orden_trabajo.nro_orden}">
                    <select required name="vehiculoPertenece" id="marcaAuto" class="form-select" form="addUserForm">
                        <option selected hidden th:text="${orden_trabajo.vehiculoPertenece.patente}" th:value="${orden_trabajo.vehiculoPertenece.id_vehiculo}"></option>
                        <option th:each = "vehiculo : ${lista_vehiculos}" th:text = "${vehiculo.patente}" th:value = "${vehiculo.id_vehiculo}"> 
                    </select>

                    <select required name="servicioRealizar" id="modeloAuto" class="form-select" form="addUserForm">
                        <option selected hidden th:text="${orden_trabajo.servicioRealizar.nombre}" th:value="${orden_trabajo.servicioRealizar.id_servicio}"></option>
                        <option th:each = "servicio : ${lista_servicios}" th:text = "${servicio.nombre}" th:value = "${servicio.id_servicio}"> 
                    </select>
                    <input type="submit" value="Actualizar" class="btn btn-success">
                    <a th:href="@{/ordenTrabajo}"><input type="button" value="Cancelar" class="btn btn-warning"></a>
                </form>
            </div>
        </div>
    </div> 
    <script src="../js/tecnico.js"></script>
</body>