<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Mecánico</title>
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!--CSS-->
    <link rel="stylesheet" href="../css/gen.css">
    <link rel="stylesheet" href="../css/crud.css">

    <!--ICONO-->
    <link rel="shortcut icon" href="../../img/icono.png" type="image/x-icon">
</head>

<body>
    <nav class="navbar navbar-expand" id="barraNav">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img src="../img/icono.png" alt="Logo" width="25" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Vehículos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/vehiculos}">Vehículos</a></li>
                            <li><a class="dropdown-item" th:href="@{/marca}">Marca</a></li>
                            <li><a class="dropdown-item" th:href="@{/modelo}">Modelo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Servicios
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/serviciosTaller}">Servicios</a></li>
                            <li><a class="dropdown-item" th:href="@{/ordenTrabajo}">Orden de Trabajo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Persona
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/clientes}">Clientes</a></li>
                            <li><a class="dropdown-item" th:href="@{/tecnicos}">Técnicos</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- <table>
        <tbody>
            <h1>objeto ordenes</h1>
            <tr th:each="orden : ${orden_trabajo}">
                <td th:text="${orden}" style="color: black;"></td>
            </tr>
        </tbody>
    </table> -->

    <!-- <table>
        <tbody>
            <h1>objeto servicios</h1>
            <tr th:each="servicio : ${lista_servicios}">
                <td th:text="${servicio}" style="color: black;"></td>
            </tr>
        </tbody>
    </table> -->

    <!-- <table>
        <tbody>
            <h1>objeto servicios</h1>
            <tr th:each="tecnico : ${lista_tecnicos}">
                <td th:text="${tecnico}" style="color: black;"></td>
            </tr>
        </tbody>
    </table> -->

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <form id="addUserForm" th:action="@{/registrarOrdenTrabajo}" th:object="${OrdenTrabajo}" method="POST">
                    <div class="row" style="width: 70%; margin: auto;">
                        <!-- Primera columna (izquierda) -->
                        <input type="hidden" name="nro_orden" th:value="${orden_trabajo.nro_orden}">
                        <h3 th:text="'EDITAR ORDEN ' + ${orden_trabajo.nro_orden}"></h3>
                        <div class="col-md-6">

                            <h4>VEHICULOS</h4>
                          
                            <select required name="vehiculoPertenece" id="vehiculoServicio" class="form-select" form="addUserForm">
                                <option th:each="vehiculo : ${lista_vehiculos}" th:text="${vehiculo.marca.nombre} + ' ' + ${vehiculo.modelo.nombre} + ' - ' + ${vehiculo.patente}" th:value="${vehiculo.id_vehiculo}" th:selected="${vehiculo.id_vehiculo == orden_trabajo.vehiculoPertenece.id_vehiculo}">Seleccionar un vehículo</option>
                            </select>
                            

                            <h4>SERVICIOS</h4>
                            <div class="form-check select-container">
                                <div th:each="servicio : ${lista_servicios}">
                                    <input type="checkbox" name="serviciosRealizar" th:value="${servicio.id_servicio}" id="servicio_${servicio.id_servicio}" th:checked="${orden_trabajo.serviciosRealizar.contains(servicio)}">
                                    <label for="servicio_${servicio.id_servicio}" th:text="${servicio.nombre}" class="clickable-label"></label>
                                </div>
                            </div>
                            
                            <a id="eliminarSeleccionServicios" href="#" style="display: none">Eliminar Selección Servicios</a>

                        </div>

                        <!-- Segunda columna (derecha) -->
                        <div class="col-md-6">

                            <h4>FECHA DE ORDEN</h4>
                            <input type="datetime-local" id="fechaHoraOrden" name="fechaHoraOrden" required class="form-control" th:value="${orden_trabajo.fechaHoraOrden}">

                            <h4>TECNICOS</h4>
                            <div class="form-check select-container">
                                <div th:each="tecnico : ${lista_tecnicos}">
                                    <input type="checkbox" name="tecnicosOrden" th:value="${tecnico.id_tecnico}" id="tecnico_${tecnico.id_tecnico}" th:checked="${orden_trabajo.tecnicosOrden.contains(tecnico)}">
                                    <label for="tecnico_${tecnico.id_tecnico}" th:text="${tecnico.legajo + ' - ' + tecnico.apellido + ' ' + tecnico.nombre}" class="clickable-label"></label>
                                </div>
                            </div>
                            
                            <a id="eliminarSeleccionTecnicos" href="#" style="display: none">Eliminar Selección
                                Técnicos</a>
                        </div>

                        <div id="botones" style="display: flex; justify-content: left; align-items: center; margin-top: 15px;">
                            <input style="width: 160px; margin: 0;" type="submit" value="Actualizar Orden" class="btn btn-primary form-control" onclick="agregarOrdenTrabajo(event)">
                            <a th:href="@{/ordenTrabajo}"><input style="width: 150px; margin: 0; margin-left: 20px;" type="button" value="Cancelar" class="btn btn-warning"></a>
                        </div>

                    </div>
                    
                   
                </form>

            </div>
        </div>


    </div>

    </div>
    <script src="../js/agregarOrdenTrabajo.js"></script>


</body>