<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Agrega el enlace a la biblioteca Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Taller Mecánico</title>
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!--CSS-->
    <link rel="stylesheet" href="../css/gen.css">
    <link rel="stylesheet" href="../css/crud.css">
    <link rel="stylesheet" href="../css/editar.css">

    <!--ICONO-->
    <link rel="shortcut icon" href="../../img/icono.png" type="image/x-icon">

    <!-- PARA DESCARGAR ESTADISTICA -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
        integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand" id="barraNav">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img src="../img/icono.png" alt="Logo" width="25" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Vehículos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/vehiculos}">Vehículos</a></li>
                            <li><a class="dropdown-item" th:href="@{/marca}">Marca</a></li>
                            <li><a class="dropdown-item" th:href="@{/modelo}">Modelo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Servicios
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/serviciosTaller}">Servicios</a></li>
                            <li><a class="dropdown-item" th:href="@{/ordenTrabajo}">Orden de Trabajo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Persona
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/clientes}">Clientes</a></li>
                            <li><a class="dropdown-item" th:href="@{/tecnicos}">Técnicos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Registros Eliminados
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/registrosEliminados}">Marcas Eliminadas</a></li>
                            <!--<li><a class="dropdown-item" th:href="@{/tecnicos}">Técnicos</a></li>-->
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Estadisticas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/estadisticas/serviciostaller}">Estadisticas Servicios</a></li>
                            <li><a class="dropdown-item" th:href="@{/estadisticas/ordentrabajo}">Estadisticas Ordenes de Trabajo</a></li>
                            <!--<li><a class="dropdown-item" th:href="@{/tecnicos}">Técnicos</a></li>-->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- GRAFICO ESTADISTICA -->
    <h1>TIEMPO PROMEDIO TRABAJADO</h1>
    
<!-- Contenedor para el gráfico -->
<div id="contenedorImprimir" style="width: 65%; margin: auto;" class="d-flex justify-content-center align-items-center flex-column">
    
    <!-- Formulario para introducir el rango de fechas -->
    <form id="filtroFechas" class="d-flex align-items-end" style="margin-top:10px;">
        <div class="me-2">
            <label for="fechaInicio" style="color:black;">Fecha Desde:</label>
            <input type="datetime-local" id="fechaInicio" name="fechaInicio" class="form-control" style="width: 250px; margin:0px;" required>
        </div>

        <div class="me-2">
            <label for="fechaFin" style="color:black;">Fecha Hasta:</label>
            <input type="datetime-local" id="fechaFin" name="fechaFin" class="form-control" style="width: 250px;" required>
        </div>

        <button type="button" class="btn btn-primary" onclick="aplicarFiltro()">Aplicar Filtro</button>
    </form>

    <!-- Contenedor para el mensaje de resultados no encontrados -->
<div id="mensajeResultado" class="alert alert-danger" role="alert" style="margin-top:10px; width:640px;">    
    No se realizaron servicios durante el rango de fechas especificado.
</div>
    
    <canvas id="grafico"></canvas>
</div>


<script>
    let miGrafico; // Almacena la referencia al gráfico actual

    // Función para aplicar el filtro al hacer clic en el botón
    async function aplicarFiltro() {
        // Obtiene las fechas del formulario
        const fechaInicio = new Date(document.getElementById('fechaInicio').value);
        const fechaFin = new Date(document.getElementById('fechaFin').value);

        console.log('Fecha de inicio:', fechaInicio);
        console.log('Fecha de fin:', fechaFin);

        // Obtén datos desde el backend y actualiza el gráfico
        const response = await fetch('http://localhost:8080/api/estadisticas/datosServicios');
        const data = await response.json();

        // Filtra las ordenes que están dentro del rango de fechas
        const ordenesFiltradas = data.filter(orden => {
            const fechaCreacionOrden = new Date(orden.fechaHoraCreacionOrden);
            return fechaCreacionOrden >= fechaInicio && fechaCreacionOrden <= fechaFin;
        });

        const resultados = calcularPromedios(ordenesFiltradas);

        // Extraer nombres de servicios para el gráfico
        const nombresServicios = Object.keys(resultados).map(idServicio => resultados[idServicio].nombre);
        const tiemposPromedioEnMinutos = Object.values(resultados).map(resultado => resultado.promedioEnMinutos);
        const coloresServicios = Object.values(resultados).map(resultado => resultado.color);

        // Destruye el gráfico actual antes de crear uno nuevo
        if (miGrafico) {
            miGrafico.destroy();
        }

        // Configuración del gráfico
        const ctx = document.getElementById('grafico').getContext('2d');
        miGrafico = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: nombresServicios,
                datasets: [{
                    label: 'Tiempo Promedio Trabajado por Servicio (minutos)',
                    data: tiemposPromedioEnMinutos,
                    backgroundColor: coloresServicios,
                    borderColor: coloresServicios,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        

        // Mostrar o ocultar el mensaje de resultados no encontrados
        const mensajeResultado = document.getElementById('mensajeResultado');
        mensajeResultado.style.display = nombresServicios.length === 0 ? 'block' : 'none';
    }

    // Llama a la función para aplicar el filtro automáticamente después de cargar la página
    window.onload = function () {
        // Obtiene fechas predeterminadas
        const fechaFin = new Date().toISOString().slice(0, 16); // Formato aceptado por datetime-local
        const fechaInicio = new Date();
        fechaInicio.setMonth(fechaInicio.getMonth() - 1);

        // Establece fechas predeterminadas en el formulario
        document.getElementById('fechaInicio').value = fechaInicio.toISOString().slice(0, 16);
        document.getElementById('fechaFin').value = fechaFin;

        // Actualiza el gráfico con fechas predeterminadas
        aplicarFiltro();
    };

    // Función para calcular los promedios
    function calcularPromedios(ordenesServicio) {
        const resultados = {};

        ordenesServicio.forEach(orden => {
            orden.serviciosRealizar.forEach(servicio => {
                const idServicio = servicio.id_servicio;
                const nombreServicio = servicio.nombre;

                const horasPorServicio = orden.horasPorServicio[idServicio];
                const minutosPorServicio = orden.minutosPorServicio[idServicio];

                if (!resultados[idServicio]) {
                    resultados[idServicio] = {
                        nombre: nombreServicio,
                        totalMinutos: 0,
                        contador: 0,
                        color: getRandomColor()
                    };
                }

                if (minutosPorServicio !== undefined) {
                    resultados[idServicio].totalMinutos += parseInt(horasPorServicio) * 60 + parseInt(minutosPorServicio);
                    resultados[idServicio].contador += 1;
                }
            });
        });

        // Calcular promedios
        Object.keys(resultados).forEach(idServicio => {
            const promedioEnMinutos = resultados[idServicio].contador > 0 ? resultados[idServicio].totalMinutos / resultados[idServicio].contador : 0;

            resultados[idServicio].promedioEnMinutos = promedioEnMinutos;
        });

        return resultados;
    }

    // Función para obtener un color aleatorio
    function getRandomColor() {
        return '#' + Math.floor(Math.random() * 16777215).toString(16);
    }
</script>

<div  style="width: 65%; margin: auto; margin-top:15px;" class="d-flex justify-content-center align-items-center flex-column">
    <button id="botonDescargar" type="button" class="btn btn-success"
        onclick="descargarEstadisticas()">Descargar Grafico
    </button>
</div>

    <script src="/js/estadisticas.js"></script>


</body>
</html>
