<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Mecánico</title>
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!--CSS-->
    <link rel="stylesheet" href="../css/gen.css">
    <link rel="stylesheet" href="../css/crud.css">

    <!--ICONO-->
    <link rel="shortcut icon" href="../../img/icono.png" type="image/x-icon">

</head>

<body>

    <nav class="navbar navbar-expand" id="barraNav">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img src="../img/icono.png" alt="Logo" width="25" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{/}">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Vehículos
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/vehiculos}">Vehículos</a></li>
                            <li><a class="dropdown-item" th:href="@{/marca}">Marca</a></li>
                            <li><a class="dropdown-item" th:href="@{/modelo}">Modelo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Servicios
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/serviciosTaller}">Servicios</a></li>
                            <li><a class="dropdown-item" th:href="@{/ordenTrabajo}">Orden de Trabajo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Persona
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/clientes}">Clientes</a></li>
                            <li><a class="dropdown-item" th:href="@{/tecnicos}">Técnicos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Registros Eliminados
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/registrosEliminados}">Marcas Eliminadas</a></li>
                            <!--<li><a class="dropdown-item" th:href="@{/tecnicos}">Técnicos</a></li>-->
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Estadisticas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/estadisticas/serviciostaller}">Estadisticas Servicios</a></li>
                            <li><a class="dropdown-item" th:href="@{/estadisticas/ordentrabajo}">Estadisticas Ordenes de Trabajo</a></li>
                            <!--<li><a class="dropdown-item" th:href="@{/tecnicos}">Técnicos</a></li>-->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- <table>
        <tbody>
            <h1>objeto cliente</h1>
            <tr th:each="cte : ${cliente}">
                <td th:text="${cte}" style="color: black;"></td>
            </tr>
        </tbody>
    </table>

    <table>
        <tbody>
            <h1>objeto ordenes</h1>
            <tr th:each="orden : ${datos_orden}">
                <td th:text="${orden}" style="color: black;"></td>
            </tr>
        </tbody>
    </table>

    <table>
        <tbody>
            <h1>objeto ordenes</h1>
            <tr th:each="ve : ${lista_vehiculos}">
                <td th:text="${ve}" style="color: black;"></td>
            </tr>
        </tbody>
    </table> -->

    <div class="container">
        <div class="row" style="margin-top: 100px;">
            <div class="col-md-8">
                <h3 th:text="Historial + ' ' + de + ' ' + ${cliente} " style="text-align: center;"></h3>

                <form class="d-flex" role="search" id="formBuscar" th:action="@{/buscarOrdenEnCliente/}+${clienteID}" method="POST"
                        style="display: flex;align-items: center;justify-content: center;">
                    <input name="fechaBuscada" id="inputBuscar" class="form-control me-2" type="date"
                        style="width: 250px;">
                    <button id="botonBuscar" class="btn btn-outline-success" type="submit"><img src="../img/lupa.png" alt=""
                        width="25"></button>
                </form>

                <table id="userTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>N° Orden</th>
                            <th>Vehiculo</th>
                            <th>Fecha de Orden</th>
                            <th>Servico Realizado</th>
                            <th>Técnicos del Servicio</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ot : ${datos_orden}">
                            <td class="ORDENData" th:text="${ot.nro_orden}"></td>
                            <td class="ORDENData"
                                th:text="${ot.vehiculoPertenece.marca.nombre} +' '+ ${ot.vehiculoPertenece.modelo.nombre} + ' - ' + ${ot.vehiculoPertenece.patente}">
                            </td>
                            <td class="HISTORIALData" th:text="${#temporals.format(ot.fechaHoraOrden, 'dd/MM/yyyy')}"></td>
                            <td class="HISTORIALData">
                                <ul style="padding: 0;">
                                    <li th:each="servicio : ${ot.serviciosRealizar}" th:text="${servicio.nombre}"></li>
                                </ul>
                            </td> 
                            <td class="HISTORIALData">
                                <ul style="padding: 0;">
                                    <li th:each="tecnico : ${ot.tecnicosOrden}" th:text="${tecnico.nombre} + ' ' + ${tecnico.apellido}"></li>
                                </ul>
                            </td> 
                            <td class="ORDENData" th:text="${ot.estado}" id="estadoColor"></td>
                        </tr>
                    </tbody>
                </table>
                <a th:href="@{/clientes}"><input type="button" value="Volver" class="btn btn-warning"></a>
            </div>
        </div>
    </div>

    <script src="js/clientes.js"></script>
    <script src="js/eliminar.js"></script>
</body>

</html>