<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Mecánico</title>
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <!--CSS-->
    <link rel="stylesheet" href="../css/gen.css">
    <link rel="stylesheet" href="../css/crud.css">

    <!--ICONO-->
    <link rel="shortcut icon" href="../../img/icono.png" type="image/x-icon">

</head>
<body>

    <nav class="navbar navbar-expand-lg" id="barraNav">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img src="../../img/icono.png" alt="Logo" width="25" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/vehiculos}">Vehículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/marca}">Marca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/modelo}">Modelo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/clientes}">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/tecnicos}">Técnicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/serviciosTaller}">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" th:href="@{/ordenTrabajo}">Orden Trabajo</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <div class="container">
        <div class="row" style="margin-top: 100px;">
            <div class="col-md-8">
                <h3 th:text="Historial + ' ' + de + ' ' + ${cliente}" style="text-align: center;"></h3>
                <!--<form th:action="@{/buscarCliente}" method="POST" class="d-flex" id="formBuscar">
                    <input name="datoCliente" id="inputBuscar" class="form-control me-2" type="search" placeholder="Buscar DNI Cliente" aria-label="Search" maxlength="8">
                    <button id="botonBuscar" class="btn btn-outline-success" type="submit"><img src="../img/lupa.png" alt="" width="25" onclick="validarBuscar(event)"></button>
                </form>--> 
                <table id="userTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Patente</th>
                            <th>Ingreso Taller</th>
                            <th>Servico Realizado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ot : ${datos_orden}">
                            <td class="HISTORIALData" th:text="${ot.vehiculoPertenece.marca.nombre}"></td>
                            <td class="HISTORIALData" th:text="${ot.vehiculoPertenece.modelo.nombre}"></td>
                            <td class="HISTORIALData" th:text="${ot.vehiculoPertenece.patente}"></td>
                            <td class="HISTORIALData" th:text="${ot.fechaHoraCreacionFormateada}"></td>
                            <td class="HISTORIALData" th:text="${ot.servicioRealizar.nombre}"></td>
                        </tr>
                    </tbody>
                </table>
                <a th:href="@{/clientes}"><input type="button" value="Volver" class="btn btn-warning"></a>
            </div>
        </div>
    </div>

    <script src="js/clientes.js"></script>
    <script src="js/eliminar.js"></script>
</body>
</html>