<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odenes de Técnico</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Número de Orden</th>
                <th>vehiculo</th>
                <!-- Agrega más encabezados según tus necesidades -->
            </tr>
        </thead>
        <tbody>
            <!-- Itera a través de las órdenes de trabajo y muestra cada una en una fila de la tabla -->
            <tr th:each="orden : ${ordenesTecnico}">
                <td th:text="${orden.nro_orden}"></td>
                <td th:text="${orden.id_vehiculo}"></td>
                <!-- Agrega más columnas según tus necesidades -->
            </tr>
        </tbody>
    </table>
</body>

</html>