<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Mecánico</title>
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--CSS-->
    <link rel="stylesheet" href="../css/gen.css">
    <link rel="stylesheet" href="../css/crud.css">

    <!--ICONO-->
    <link rel="shortcut icon" href="../../img/icono.png" type="image/x-icon">

</head>

<body>

    <nav class="navbar navbar-expand-lg" id="barraNav">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img src="../../img/icono.png" alt="Logo" width="25" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{/vehiculos}">Vehículo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{/marca}">Marca</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{/modelo}">Modelo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{/clientes}">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{/tecnicos}">Técnicos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{/serviciosTaller}">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" th:href="@{/ordenTrabajo}">Orden Trabajo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>ORDEN DE TRABAJO</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>NUEVA ORDEN</h3>
                <form id="addUserForm" th:action="@{/registrarOrdenTrabajo}" th:object="${OrdenTrabajo}" method="POST">
                    <!--<div class="form-group">
                        <input name="patente" class="form-control" type="text" id="patente" placeholder="Patente" required oninput="this.value = this.value.toUpperCase()">
                        <input name="kilometros" class="form-control" type="text" id="km" placeholder="Kilometros" required>
                    </div>-->
                    
                    <select required name="vehiculoPertenece" id="vehiculoServicio" class="form-select" form="addUserForm">
                        <option selected hidden>Vehiculo</option>
                        <option th:each = "vehiculo : ${lista_vehiculos}" th:text = "${vehiculo.patente}" th:value = "${vehiculo.id_vehiculo}"> 
                    </select>

                    <select required name="servicioRealizar" id="servicioRealizar" class="form-select" form="addUserForm">
                        <option selected hidden>Servicios</option>
                        <option th:each = "servicio : ${lista_servicios}" th:text = "${servicio.nombre}" th:value = "${servicio.id_servicio}"> 
                    </select>
                    <input type="submit" value="Crear Orden" class="btn btn-primary form-control" onclick="agregarOrdenTrabajo(event)"> 
                    <!--<select required name="cliente" id="clienteAuto" class="form-select" form="addUserForm">
                        <option selected hidden>Cliente</option>
                        <option th:each="cliente : ${clientes}" th:value="${cliente.id_cliente}"
                            th:text="${cliente.nombre}+' '+${cliente.apellido}"></option>
                    </select>
                    
                    <input id="botonAgregar" onclick="agregarVehiculo(event)" type="submit" value="Agregar vehiculo" class="btn btn-primary form-control">--> 
                </form>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <h3>ORDENES REALIZADAS</h3>
            <form class="d-flex" role="search" id="formBuscar" th:action="@{/buscarOrden}" method="POST">
                <input name="orden" id="inputBuscar" class="form-control me-2" type="search" placeholder="Buscar Fecha Orden" aria-label="Search" oninput="this.value = this.value.toUpperCase()">
                <button id="botonBuscar" class="btn btn-outline-success" type="submit"><img src="../img/lupa.png" alt="" width="25"></button>
            </form>
            <table id="userTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>N° Orden</th>
                        <th>Vehiculo</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Año</th>
                        <th>Servicio</th>
                        <th>Cliente</th>
                        <th>Fecha de Creación</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="cuerpoTabla">
                    <tr th:each="ot : ${listaOT}">
                        <td class="ORDENData" th:text="${ot.nro_orden}"></td>
                        <td class="ORDENData" th:text="${ot.vehiculoPertenece.patente}"></td>
                        <td class="ORDENData" th:text="${ot.vehiculoPertenece.marca.nombre}"></td>
                        <td class="ORDENData" th:text="${ot.vehiculoPertenece.modelo.nombre}"></td>
                        <td class="ORDENData" th:text="${ot.vehiculoPertenece.ano}"></td>
                        <td class="ORDENData" th:text="${ot.servicioRealizar.nombre}"></td>
                        <td class="ORDENData" th:text="${ot.vehiculoPertenece.cliente.nombre}+' '+${ot.vehiculoPertenece.cliente.apellido}"></td>
                        <td class="ORDENData" th:text="${ot.fechaCreacionOrden}"></td>
                        
                        <td id="tdbotones"><a id="botoncrud" th:href="@{/editarOrden/}+${ot.nro_orden}" class="btn btn-warning"><img id="imgcrud" src="img/edit.png" alt=""></a></td>
                        <td id="tdbotones"><a onclick="return eliminarVehiculo()" type="submit" id="botoncrud" th:href="@{/eliminarOrden/}+${ot.nro_orden}" class="btn btn-danger"><img id="imgcrud" src="img/delete.png" alt=""></a></td>                        
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="js/vehiculos.js"></script>
    <script src="js/eliminar.js"></script>
    <script src="js/agregarOrdenTrabajo.js"></script>

</body>

</html>